<%- include("header") -%>
<div class="box" id="heading">
  <h1>This is the about page</h1>
</div>
<div class="box">
  <p>Here we have some text for the example</p>
</div>



<%- include("footer") -%>
